.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.container {
	background: #F2F2F2;
	box-shadow:1px 1px 1px #ccc

}
.btn { border-radius:0;text-transform: uppercase;}
.list-group-item, .list-group-item:first-child, .list-group-item:last-child, .progress, .progress-bar { border-radius:0;}
.navbar-default .navbar-brand { text-transform: uppercase;}
.list-group-item:hover { background: #F9F9F9;}
input { border-radius:0 !important;}
.navbar {
	border-radius:0
	
}
.list-group { min-height: 203px;}
.page-header {
    margin: 10px 0;
    border-bottom: 1px solid #3AA9E8;
}
.page-header h1 {
    margin: 0;
    font-size: 23px;
    padding-top: 11px;
}
.customCheckbox {
	width: 20px;	
	margin-right: 20px;
	position: relative;
	float: left;
}

.customCheckbox label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #FFFFFF 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.customCheckbox label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 22px;
	height: 9px;
	background: transparent;
	top: 2px;
	left: 2px;
	border: 5px solid #2fa4e7;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.customCheckbox label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.5;
}

.customCheckbox input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.customCheckbox input[type=checkbox] {
    visibility: hidden;
}
.remove {
    float: right;
    cursor: pointer;
}
.removed {
    background: rgb(176, 252, 176);
}
.loader {
    position: fixed;
    width: 120px;
    top: 45%;
    top: -webkit-calc(50% - 30px);
    top: -moz-calc(50% - 30px);
    top: calc(50% - 30px);
    left: 45%;
    left: -webkit-calc(50% - 60px);
    left: -moz-calc(50% - 60px);
    left: calc(50% - 60px);
    z-index: 9999;
    border-radius: 0;
}
#taskName {
    margin-bottom: 10px;
}