
<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <button class="btn btn-primary" ng-click="createNewList()" style="float: right">Create a New List</button>
            <h1 id="type">My List</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="list-group">
            <div class="list-group-item active">
                <strong>Tasks</strong>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" id="txtName" placeholder="New Task" ng-model="newItem.name" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <button ng-click="saveItem()" class="btn btn-primary form-control">Add</button>
                    </div>
                </div>
            </div>
            <div class="list-group-item" ng-repeat="item in list.Items">
                <input id="checkSlave" type="checkbox" ng-checked="{{item.IsDone}}">{{item.Name}}
            </div>
        </div>
    </div>
    <ul class="list-group col-md-4">
        <li class="list-group-item">
            <span class="badge">{{list.Id}}</span>
            List Id
        </li>
        <li class="list-group-item">
            <span class="badge">{{list.DateCreated | date:"MM/dd/yyyy 'at' h:mma"}}</span>
            Created
        </li>
    </ul>
</div>
