<div ng-show="gettingList" class="alert alert-dismissible alert-info">
    <h4>Please wait!</h4>
    We are getting your list...
</div>
<div ng-show="error" class="alert alert-dismissible alert-danger">
    <h4>{{errorTitle}}</h4>
    {{errorMessage}}
</div>
<div ng-hide="gettingList">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <button class="btn btn-primary" ng-click="createNewList()" style="float: right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New List</button>
                <h1 id="type">Your List</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="list-group">
                <div class="list-group-item active">
                    <strong>List details</strong>
                </div>
                <div class="list-group-item">
                    <span class="badge">{{list.Id}}</span>
                    List Id:
                </div>
                <div class="list-group-item">
                    <span class="badge">
                        <time-ago from-time="{{list.DateCreated}}" />
                    </span>
                    Created:
                </div>
                <div class="list-group-item">
                    <span class="badge">
                        <time-ago from-time="{{list.DateModified}}" />
                    </span>
                    Modified:
                </div>
                <div class="list-group-item">
                    Done:
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" ng-style="{width : ( getPercentage() + '%' ) }">{{getPercentage()}}%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="list-group">
                <div class="list-group-item active">
                    <strong>Tasks</strong>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <form name="addTask">
                            <div class="col-md-8">
                                <input type="text" id="taskName" placeholder="New Task" name="taskName" ng-model="newItem.name" class="form-control" required>
                                <div class="text-danger" ng-show="addTask.taskName.$error.required && addTask.taskName.$dirty">Pleas enter task name.</div>
                            </div>
                            <div class="col-md-4">
                                <button ng-click="saveItem()" ng-disabled="!addTask.$valid" class="btn btn-primary form-control">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="list-group-item" ng-repeat="item in list.Items">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="customCheckbox" title="mark as done">
                                <input type="checkbox" id="check_{{item.Id}}" ng-model="item.IsDone" ng-change="changeTaskStatus(item)" />
                                <label for="check_{{item.Id}}"></label>
                            </div>
                            <a href="#" editable-text="item.Name" onbeforesave="updateTask($data, item)">{{ item.Name || "empty" }}</a>
                            <div title="remove" class="remove glyphicon glyphicon-trash" aria-hidden="true" ng-click="deleteTask(item)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>