<div class="row">
    <h1>My List</h1>
</div>
<div class="row">
    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge">{{list.Id}}</span>
            List Id
        </li>
        <li class="list-group-item">
            <span class="badge">{{list.DateCreated | date:"MM/dd/yyyy 'at' h:mma"}}</span>
            Created
        </li>
    </ul>

</div>
<div class="row">
    <div class="col-lg-8">
    </div>
    <div class="col-lg-3">
        <input type="text" id="txtName" placeholder="New Task" ng-model="newItem.name" class="form-control">
    </div>
    <div class="col-lg-1">
        <button ng-click="saveItem()" class="btn btn-primary">Add</button>
    </div>
</div>
<div class="row">
    <div class="list-group">
        <div class="list-group-item active">
            <strong>Tasks</strong>
        </div>
        <div class="list-group-item" ng-repeat="item in list.Items">
            <input id="checkSlave" type="checkbox" ng-checked="{{item.IsDone}}">{{item.Name}} 
        </div>
    </div>
</div>
